
.login-form{
    width:90%;
    margin:0 auto;
    background: #fff;
    padding: 2.25rem 1.8rem 0.8rem;
    box-shadow:0 0 15px rgba(0,0,0,.3);
    border-radius: 6px;
    position: relative;
    display: block;
}